@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
    color: white;
    
    background: #065830;
    height: 66px;
}

.pop{

   
    width: 50rem;
}
.column{
    position: relative;
    margin: 5px;
}
.inp{
    padding: 0 !important ;
}

.bg2{
    background: #e4f9ec;
}
.bg3{
    background: #74B494;
}
.navlinks{
  display: flex;
  width: 60%;
  justify-content: space-between ;
}
.move{
  background: #74B494;
  color: red;
}
@media (max-width:640px) {
    .navlinks{
      display: none;
    }
}

@layer utilities {
    @keyframes marquee {
      0% { transform: translateX(100%); }
      100% { transform: translateX(-80%); }
    }
  
    .animate-marquee {
      animation: marquee 12s linear infinite;
    }
  
    .hover\:animation-pause:hover {
      animation-play-state: paused;
    }
    .animate-marquee:hover {
      animation-play-state: paused;
  }
  }

